<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Produkt Manager</a>
 <!-- <button class="navbar-toogler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbar">
    <span class="navbar-toggler-icon"></span>
  </button>-->

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null,'add')" data-toggle="modal" data-target="#addProductModalLabel"> Produkt hinzufügen <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchProduct(key.value)" #key="ngModel" ngModel
      name="key" id="searchName" class="form-control mr-sm-2" placeholder="Product suchen...">
    </form>
  </div>
</nav>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
  </div>

  <div class="col">
    <div class="e-tabs mb-3 px-3">
    <!--  <ul class="nav nav-tabs">
      
      </ul> -->
    </div>

    <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="card-title">
              <h6 class="mr-2"><span></span><small class="px-1"></small></h6>
            </div>
            <div class="e-table">
              <div class="table-responsive table-lg mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Bild</th>
                      <th class="max-width">Name</th>
                      <th class="sortable">Beschreibung</th>
                      <th class="sortable">Preis</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor= "let product of products">
                      <td class="align-middle text-center">
                        <div class="bg-light d-inline-flex justify-content-center align-items-center align-top" style="width: 35px; height: 35px; border-radius: 3px;"><i class="fa fa-fw fa-photo" style="opacity: 0.8;"></i></div>
                      </td>
                      <td class="text-nowrap align-middle">{{product.name}}</td>
                      <td class="text-nowrap align-middle"><span>{{product.description}}</span></td>
                      <td class="text-nowrap align-middle">{{product.preis}}</td>
                      <td class="text-center align-middle">
                        <div class="btn-group align-top">
                            <button (click)="onOpenModal(product,'update')" class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal">bearbeiten<span class="sr-only">(current)</span></button>
                                 
                            <button (click)="onOpenModal(product,'delete')" class="btn btn-sm btn-outline-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                        </div>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-center">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mb-3">
        
      </div>
    </div>

    <!-- Add Product Modal -->
    <div class="modal fade" id="addProductModalLabel" role="dialog" aria_labelleby="addProductModalLabel" tabindex="-1" aria-hidden="true">
       <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addProductModalLabel">Product hinzufügen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddProduct(addForm)"> 
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <label for="description">Beschreibung</label>
                <input type="text" ngModel name="description" class="form-control" id="description" placeholder="Beschreibung" required>
              </div>
              
              <div class="form-group">
                <label for="preis">Photo</label>
                <input type="text" ngModel name="photo" class="form-control" id="photo" placeholder="Photo" required>
              </div>
              <div class="form-group">
                <label for="preis">Preis</label>
                <input type="text" ngModel name="preis" class="form-control" id="preis" placeholder="Preis" required>
              </div>
              <div class="modal-footer">
                <button type="button" id="add-product-form" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Speichern</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    <!-- Update Product Modal -->
    <div class="modal fade" id="updateProductModal" role="dialog" aria_labelleby="updateProductModalLabel" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateProductModalLabel">Product bearbeiten</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #updateForm = "ngForm">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text"  ngModel= {{updateProduct?.name}} name="name" class="form-control" id="name" placeholder="Name" required>
              </div>
              <input type="hidden" ngModel= {{updateProduct?.id}} name="id" class="form-control" id="id" placeholder="name">
              <div class="form-group">
                <label for="description">Beschreibung</label>
                <input type="text" ngModel={{updateProduct?.description}} name="description" class="form-control" id="description" placeholder="Beschreibung" required>
              </div>
              <div class="form-group">
                <label for="preis">Photo</label>
                <input type="text" ngModel={{updateProduct?.image}} name="photo" class="form-control" id="photo" placeholder="Photo" required>
              </div>
              <div class="form-group">
                <label for="preis">Preis</label>
                <input type="text" ngModel={{updateProduct?.preis}} name="preis" class="form-control" id="preis" placeholder="Preis" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                <button (click)="onUpdateProduct(updateForm.value)" type="button" data-bs-dismiss="modal" class="btn btn-primary">Bearbeiten</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    <!-- Delete Product Modal -->
    <div class="modal fade" id="deleteProductModal" role="dialog" aria_labelleby="deleteProductModalLabel" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document"> 
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteProductModalLabel">Product löschen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <p>Wollen Sie wirklich {{deleteProduct?.name}}löschen?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                <button (click)="onDeleteProduct(deleteProduct?.id)" type="button" class="btn btn-primary">Löschen</button>
              </div>
            </form>
          </div>
      </div>
    </div>

    <!-- User Form Modal -->
    <div class="modal fade" role="dialog" tabindex="-1" id="user-form-modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Produkt bearbeiten</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-1">
              <form class="form" novalidate="">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Full Name</label>
                          <input class="form-control" type="text" name="name" placeholder="John Smith" value="John Smith">
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label>Username</label>
                          <input class="form-control" type="text" name="username" placeholder="johnny.s" value="johnny.s">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Email</label>
                          <input class="form-control" type="text" placeholder="user@example.com">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col mb-3">
                        <div class="form-group">
                          <label>About</label>
                          <textarea class="form-control" rows="5" placeholder="My Bio"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6 mb-3">
                    <div class="mb-2"><b>Change Password</b></div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Current Password</label>
                          <input class="form-control" type="password" placeholder="••••••">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>New Password</label>
                          <input class="form-control" type="password" placeholder="••••••">
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                          <input class="form-control" type="password" placeholder="••••••"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                    <div class="mb-2"><b>Keeping in Touch</b></div>
                    <div class="row">
                      <div class="col">
                        <label>Email Notifications</label>
                        <div class="custom-controls-stacked px-2">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                            <label class="custom-control-label" for="notifications-blog">Blog posts</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                            <label class="custom-control-label" for="notifications-news">Newsletter</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                            <label class="custom-control-label" for="notifications-offers">Personal Offers</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>